
:root {
    --dark-blue: rgba(6, 14, 25);
    --blue-green: rgb(132, 220, 198);
    --bg-gray: lightgray;
}
/*remember to remove the ../ from the path of all resorce files*/
@media (min-width: 1400px) {

    body {
        display: grid;
        grid-template-areas: 
            "header header header" 
            "side-left main side-right"
            "footer footer footer" ;
        grid-template-columns: 1fr 8fr 1fr;
        background-color: rgb(245, 245, 245);
    }

    header{
    grid-area: header;
    background-color: var(--dark-blue);
    /*min-height: 100vh; /* full window viewpoint */
    }

    #header-container {
        background: url("../images/header_bgd.webp"); /*img source: https://wallpapersafari.com/w/pNHxwB*/
        background-size: cover;
        min-height: 100vh;
        display: grid;
        grid-template-areas: "nav" "heading";
        grid-template-rows: 2fr 3fr;
        background-repeat: no-repeat;
    }
    
    nav > ul {
        display: flex;
        grid-area: nav;
        align-items: baseline;
        color: white;
        background-color: black;
        height: 4.3rem;
        font-size: 1.2rem;
    }

    .sub-nav-container {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        min-width: 8rem;
    }

    .sub-nav-container > button {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        line-height: 4.3rem; /* to vertically align text to the middle */
        vertical-align: middle;
        text-align: center;
        padding: 0em 1em;
    }

    .sub-nav-container > button:hover {
        color: var(--blue-green);
        background-color: rgba(255, 255, 255, 0.133);
    }


    /* this is going to be initially hidden
        once the button on the menu category is hovered its display is
        going to flex.
        while it is visible set the background color and text color of the button 
        to that of the hover selector styling
    */
    .sub-nav {
        position:absolute;
        /*display: none;*/ 
        display: flex;
        flex-direction: column;
        row-gap: 0.8em;
        box-sizing: border-box;
        padding: 1em 4em 1em 1em;
        background-color: rgba(0, 0, 0, 0.716);
        inline-size: max-content;
        pointer-events: none; /*not be clickable when not visible*/
        opacity: 0;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
    
    .sub-nav-container.active > button + .sub-nav {
        opacity:1;
        pointer-events:auto; /*be clickable when visible*/
    }


    #header-container > p {
        grid-area:heading;
        text-align: center;
        color: white;
        font-size: 1.4vw;
        font-family: verdana, sans-serif;
        word-spacing: 0.3vw;
        letter-spacing: 0.05vw;
    }


    /* ############################################*/
    main {
        grid-area: main;
        width: 100%;
        padding: 6em 0em;
    }

    main::before {
        grid-area: side-left;
    }
    main::after {
        grid-area: side-right;
    }

    main > section {
        display: grid;
        grid-template-areas: 
            "cat1 cat2 cat3 cat4" 
            "more1 more2 more3 more4" 
            "cont1 cont2 cont3 cont4";
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2em;
        max-height: 70%;
    }

    main > section a:first-of-type {
        grid-area:cat1;
    }
    main > section a:nth-of-type(2) {
        grid-area: cat2;
    }
    main > section a:nth-of-type(3) {
        grid-area:cat3;
    }
    main > section a:last-of-type {
        grid-area: cat4;
    }

    main > section button:first-of-type {
        grid-area:more1;
    }
    main > section button:nth-of-type(2) {
        grid-area: more2;
    }
    main > section button:nth-of-type(3) {
        grid-area:more3;
    }
    main > section button:last-of-type {
        grid-area: more4;
    }

    main > section p:first-of-type {
        grid-area:cont1;
    }
    main > section p:nth-of-type(2) {
        grid-area: cont2;
    }
    main > section p:nth-of-type(3) {
        grid-area:cont3;
    }
    main > section p:last-of-type {
        grid-area: cont4;
    }
/*
    .app-category-container {
        flex: 1 1 0;
        box-sizing: border-box;
        min-height: 0;
        overflow-y: hidden;
    }
*/
    main > section > a { 
        display: inline-block; 
        width: 100%;
        box-sizing: border-box;
        padding: 3em;
        margin-bottom: 6%;
        border: 0.3em solid black;
        border-radius: 6px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 18px 0 rgba(0, 0, 0, 0.19); 
        text-align: center;   
    }

    main > section > a:hover {
        box-shadow: 0 2px 4px 0 rgba(132, 220, 198, 0.75), 0 2px 18px 0 rgba(132, 220, 198, 0.75); 
    }

    main > section > a h3 {
        font-size: 1.8em;
        font-weight: bolder;
        margin-top: 1em;
    }

    main > section > a svg {
        height: 7em;
        font-size: 1.3em;
    }

    .more-btn {
        border: none;
        width: 100%;
        margin-bottom: 5%;
        align-self: center;
        background-color: none;
        color:black;
        font-size: 1.2em;
        cursor: pointer;
        text-align: end;
    }

    .more-btn:hover {
        font-weight: bold;
    }

    .app-category-description {
        min-height: 0;
        overflow-y: hidden;
        font-size: 1.3rem;
        position: relative;
    }

    .app-category-description::after {
        content: "";
        display: inline-block;
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index:1;
        box-sizing: border-box;
        background: rgb(245,245,245);
        background: linear-gradient(180deg, rgba(245,245,245,0.5158438375350141) 0%, rgba(245,245,245,1) 25%);
        
    }
    /* for icon  instead of text in expanded text element
    img[alt^="more info"] {
        height: 2em;
        font-size: 1em;
    }
    in html insert in button: <img src="icons/more_icon.svg" alt="more info iot">
    */

/*#############################################*/

    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas: 
            "about social" 
            "copyright copyright" ;
        grid-template-rows: 3fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        padding:2.5em 2em 1em 2em;
        width:auto;
        font-size: 1.3rem;
        background-color:black;
        color: white;
    }

    footer h3 {
        font-size: 1.7em;
        font-weight: 200;
        padding-bottom: 0.5em;
    }

    .about {
        grid-area: about;
    }

    .about a {
        text-decoration: underline;
    }
    .about a:visited {
        color: var(--blue-green);
    }

    .social {
        grid-area: social;
        display:flex;
        justify-content: flex-end;
    }

    footer svg {
        width: 2.5em;
        height: 2.5em;
        margin-left:1em;
        border: 2px solid var(--blue-green);
        border-radius: 50px;
        background-color: var(--blue-green);
    }

    .copyright {
        grid-area: copyright;
        font-size: 0.9rem;
        text-align:center;
    }
}


@media (min-width: 1400px) and (max-width: 2000px) {
    
    main section > a {
        height:20em;
    }
}

@media (min-width:2500px){
    * {
        font-size: 1vw;
    }

    main section > a {
        height:15rem;

    }

    main section > a > h3 {
        font-size: 1.5rem;
    }
    main section > a > svg {
        height: 5.3rem;
    }

    section .app-category-description, .more-btn {
        font-size: 1.1vw;
    }

}

@media (min-width: 2000px) and (max-width: 2499px) {
    section .more-btn, .app-category-description {
        font-size: 1.6rem;
    }

    nav li *{
        font-size: 1.5rem;
    }
}


@media (min-width: 3000px) {
    main > section {
        column-gap:4vw;
    }
}
/*
palette green
CSS HEX 
--white: #ffffffff;
--rich-black-fogra-29: #060e19ff;
--middle-blue-green: #84dcc6ff;

CSS HSL 
--white: hsla(0, 0%, 100%, 1);
--rich-black-fogra-29: hsla(215, 61%, 6%, 1);
--middle-blue-green: hsla(165, 56%, 69%, 1);
*/

/* 
pallete blue
--steel-blue: #427aa1ff;
--alice-blue: #ebf2faff;
--rich-black-fogra-29: #060e19ff;


--steel-blue: hsla(205, 42%, 45%, 1);
--alice-blue: hsla(212, 60%, 95%, 1);
--rich-black-fogra-29: hsla(215, 61%, 6%, 1);
*/
